################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProConcepts/obj
/ProConcepts/bin
/ProConcepts/wwwroot/lib
/.vs
